.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-style {
  padding: 10px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1em;
}

.login-button{
  background-color: #3D8ADD;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
}

.register-cont{
}

.reg-login-cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 100px;
  font-size: 1.5em;;
  font-family: Arial, Helvetica, sans-serif;
}

.signout-cont{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.please-sign-in-cont{
  display: flex;
  justify-content: center;
}

.please-sign-in{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 100px;
  width: fit-content;
  padding: 20px;
  font-weight: 700;
}